/* 
    Document   : users
    Created on : 16.01.2011, 19:58:59
    Author     : christian
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#userdata{
    position: absolute;
    top: 350px;
    left: 560px;
}

#userlist{
    position: relative;
    left: 0px;
    overflow:scroll;
    width: 300px;
    height: 580px;
    border:1px solid #2F4F4F;
}

.usertable{
    width: 150px;
}


tr:hover, tr.highlight { background-color: #aaa; }

#list{

}

#usertable{

}

a:focus{
    background-color:blue;
}

a:hover{
    background-color:red;
}
