/*
edit notes : bin den style am nachbauen , ums etwas smarter zu halten , foot wird noch verbessert...
            - von mir aus können wir auch das von der homepage der feuerwehr übernehmen, hab erstmal bisschen ausprobiert.
*/


/* 
    Document   : style
    Created on : 17.12.2010, 15:09:26
    Author     : awagen
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/




/*----Style Grundeinstellungen----*/

/*entfernt Standard Abstand durch Vererbung*/


body{	 
        background: #333333;
        color: #333333;
        padding-top:13px;
        font-family: Arial,Helvetica,sans-serif;
}



/*----Elemente zur Anordnung und zum Style----*/


/* links und rechts sind austauschbar der rest aber nicht*/
/*
Anordnung:
maincontainer
	header
	left
	right
	content
	foot
*/

#maincontainer {
	width: 880px;
	margin:0px auto;  			/* äußerer Rand*/
	
        padding:10px 25px 0px;
	background-color: #FFFFFF;
	border:3px double #333333;  /* Rahmen alle properties*/
}

#header {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	border-bottom: #333333 1px solid; /* Rahmen unten alle properties*/
        text-align: center;
}

#left {
	float: left;	/* Anordnung des Container */
	width: 150px;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}

#right {
  	float: right;
	width: 150px;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}


#content {
	margin: 0 150px; 		/* für die Abstände wenn die Nav-Bars kürzer als der Content sind*/
	padding: 10px;
	min-height:600px;		/* minimale Höhe */
	background-color: #FFFFFF;
}


#foot {
       clear: both;				/*zum Anordnen unter allen anderen*/
       margin: 0px;
       padding: 10px;
       background-color: #333333;
       font-size: 0.9em;
       color: #FFFFFF;
       text-align: center; /*Schriftgröße und Anordnung */
} 

/*Wie bei der offiziellen Seite*/

#branding {
      background:url("../images/ffw_banner_880.png") no-repeat scroll 0 0 transparent;
      height:100px;
      padding-bottom:15px;
      width:880px;
}